<div class="table-main-container table-main-container">
	<table class="table">
		<thead>
			<tr>
				<ng-container *ngFor="let column of tableColumns">
					<th
						scope="col"
						*ngIf="!column.auth || userLogged"
						[id]="column.id"
						[class.default-sort]="column.defaultSort"
						[ngClass]="column.width"
					>
						{{ column.title }}
					</th>
				</ng-container>
			</tr>
		</thead>
		<tbody *ngIf="data">
			<ng-container *ngFor="let item of data">
				<tr
					*ngIf="item.status || userLogged"
					(click)="select(item)"
					[class.active]="isSelected(item) || ''"
					[class.disabled]="!item.status"
				>
					<ng-container *ngIf="isBook(item)">
						<td *ngIf="userLogged">{{ item.requestor }}</td>
						<td>{{ item.authors }}</td>
						<td>{{ item.title }}</td>
						<td>{{ item.year }}</td>
						<td>{{ item.topic }}</td>
						<td>{{ item.place }}</td>
						<td *ngIf="userLogged">{{ item.notes1 }}</td>
                        <td *ngIf="userLogged">{{ item.notes2 }}</td>
					</ng-container>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>
