.books-main-container {
	flex-direction: row;
}

.content-container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	padding: var(--space-4);
}

app-table,
app-items-island-view {
	height: 100%;
	overflow-y: auto;
}

app-table {
	display: none;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	app-table {
		display: initial;
	}

	app-items-island-view {
		display: none;
	}
}
