<div class="page-main-container books-main-container">
	<div class="body-container d-flex flex-column">
		<app-table-actions
			[userMode]="mode"
			(mode)="updateMode($event)"
			(search)="search($event)"
			(filterBy)="filter($event)"
			(orderBy)="order($event)"
            (sortOrder)="sortOrder($event)"
			(restore)="fetchBooks()"
			(booking)="booking($event)"
            (importBooks)="import($event)"
            (exportBooking)="exportBooking($event)"
			(exportBooks)="export($event)"
		></app-table-actions>

		<div #content class="content-container">
			<app-table
				[data]="books"
				[mode]="mode"
                [order]="booksOrder"
                [sortOrder]="booksSortOrder"
				(updateItems)="setBooks($event)"
			></app-table>

			<app-items-island-view
				[data]="books"
				[order]="booksOrder"
                [sortOrder]="booksSortOrder"
				(updateItem)="setBook($event)"
			></app-items-island-view>
		</div>

        <div class="pagination-container d-flex">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" (click)="decPage()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    
                    <ng-container *ngFor="let page of getPaginationItems()">
                        <li class="page-item">
                            <a class="page-link"
                                [class.active]="(page.index - 1) == currentPage"
                                (click)="goToPage(page.index - 1)">{{page.index}}</a>
                        </li>
                    </ng-container>

                    <li class="page-item">
                        <a class="page-link" aria-label="Next" (click)="incPage()">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
	</div>

	<app-inspector
		[mode]="mode"
		[status]="status"
		[data]="inspectedBooks"
		(itemsStatus)="updateItemsStatus($event)"
		(save)="saveBook($event)"
        (delete)="deleteBook()"
		(closed)="cancelOperation()"
	></app-inspector>
</div>
