<div class="page-main-container books-main-container">
	<div class="body-container d-flex flex-column">
		<app-table-actions
			[userMode]="mode"
			(mode)="updateMode($event)"
			(action)="handleTableAction($event)"
			(search)="search($event)"
			(restore)="fetchBooks()"
		></app-table-actions>

		<div class="content-container">
			<app-table
				[data]="books"
				(updateItem)="setBook($event)"
			></app-table>

			<app-items-island-view
				[data]="books"
				(updateItem)="setBook($event)"
			>
			</app-items-island-view>
		</div>
	</div>

	<div class="inspector-container">
		<app-inspector
			[mode]="mode"
			[status]="status"
			[data]="getBook()"
			(save)="saveBook()"
			(closed)="cancelOperation()"
		></app-inspector>
	</div>
</div>
