.books-main-container {
	flex-direction: row;
}

.content-container {
	flex: 1 1 auto;
	padding: var(--space-4);
}

.inspector-container {
	position: absolute;
	height: 100%;
	background-color: var(--color-light);
}

.book-search {
	align-items: center;
	padding: var(--space-3);
	border: 1px solid var(--color-dark);
}

.book-search input {
	border: none;
}

.book-search input:focus {
	outline: none;
}

.actions-container {
	justify-content: space-between;
	align-items: center;
	padding-bottom: var(--space-4);
	margin-bottom: var(--space-6);
	border-bottom: 1px solid var(--color-dark);
}

.actions-container div {
	cursor: pointer;
}

.actions-container button {
	padding: var(--space-2) var(--space-6);
	border: none;
	border-radius: 0;
}

.actions-container .btn-new,
.actions-container .btn-edit,
.actions-container .btn-export {
	background-color: var(--color-light-1);
}

.actions-container .btn-save {
	background-color: var(--color-green);
}

.actions-container .btn-new:hover,
.actions-container .btn-edit:hover,
.actions-container .btn-export:hover {
	background-color: var(--color-blue);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}