<div class="page-main-container books-main-container">
	<div class="body-container d-flex flex-column">
		<app-table-actions
			[userMode]="mode"
			(mode)="updateMode($event)"
			(action)="handleTableAction($event)"
			(search)="search($event)"
			(filterBy)="filter($event)"
			(orderBy)="order($event)"
            (sortOrder)="sortOrder($event)"
			(restore)="fetchBooks()"
			(booking)="booking($event)"
		></app-table-actions>

		<div #content class="content-container">
			<app-table
				[data]="books"
				[mode]="mode"
				(updateItems)="setBooks($event)"
			></app-table>

			<app-items-island-view
				[data]="books"
				[order]="islandOrder"
                [sortOrder]="islandSortOrder"
				(updateItem)="setBook($event)"
			>
			</app-items-island-view>
		</div>
	</div>

	<app-inspector
		[mode]="mode"
		[status]="status"
		[data]="getBooks()"
		(itemsSstatus)="updateItemsStatus($event)"
		(save)="saveBook()"
		(closed)="cancelOperation()"
	></app-inspector>
</div>
