:root {
	--color-dark: #353535;
	--color-green: #3c6e71;
	--color-light: #e8e8e8;
	--color-light-1: #81929e;
	--color-blue: #284b63;
	--color-blue-1: #4d9fd5;

	--space-1: 1px;
	--space-2: 2px;
	--space-3: 3px;
	--space-4: 5px;
	--space-5: 8px;
	--space-6: 13px;
	--space-7: 21px;
	--space-8: 34px;
	--space-9: 55px;
}

* {
	box-sizing: border-box;
	transition: all 120ms linear;
}

html,
body {
	margin: 0;
	height: 100%;
	color: var(--color-dark);
	overflow: hidden;
}

a {
	text-decoration: none;
	cursor: pointer;
}

select:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
	box-shadow: inset 0 -1px 0 #ddd !important;
}

table td {
	word-wrap: break-word;
}

.gap-1 {
	gap: var(--space-3);
}

.gap-2 {
	gap: var(--space-4);
}

.page-main-container {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.icon-delete:hover {
	color: rgb(209, 96, 96);
}

.sort-icon {
	position: absolute;
	margin-left: var(--space-4);
}

.table-main-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.table-main-container tr {
	cursor: pointer;
}

.table-main-container tr th {
	color: var(--color-light);
	background-color: var(--color-blue) !important;
}

.table-main-container tr th:hover {
	color: var(--color-light);
	background-color: var(--color-light-1) !important;
}

.table-main-container tr:hover td {
	color: var(--color-dark);
	background-color: var(--color-light) !important;
}

.table-main-container tr.active td {
	color: var(--color-light);
	background-color: var(--color-green) !important;
}

.inspector-container {
	position: absolute;
	height: 100%;
	background-color: var(--color-light);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	table {
		table-layout: fixed;
	}

	.inspector-container {
		position: inherit;
	}
}
