.login-main-container {
	justify-content: center;
	align-items: center;
}

.login-main-container .content-container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 500px;
	margin-bottom: 69px;
	max-width: 900px;
	overflow: hidden;
}

.content-container .img-container,
.content-container .form-container {
	width: 100%;
}

.content-container .img-container {
	display: none;
}

.content-container .form-container {
	position: relative;
	height: 100%;
}

.content-container .img-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.content-container .form-container {
	justify-content: center;
	align-items: center;
	padding: var(--space-7);
}

.content-container .form-container .info-msg {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	padding: var(--space-3) var(--space-6);
	color: var(--color-dark);
	background-color: var(--color-orange);
}

.content-container .form-container svg {
	color: var(--color-blue);
	margin-bottom: var(--space-6);
}

.content-container .form-container form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: var(--space-7);
}

.content-container .form-container form label {
	color: var(--color-dark);
}

.content-container .form-container form button {
	cursor: pointer;
	color: var(--color-light);
	background-color: var(--color-green);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.login-main-container .content-container {
		flex-direction: row;
		border-radius: 5px;
		margin-bottom: 100px;
		background-color: var(--color-light);
		-webkit-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.28);
		-moz-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.28);
		box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.28);
		overflow: hidden;
	}

	.content-container .img-container {
		display: block;
	}

	.content-container .img-container,
	.content-container .form-container {
		width: 50%;
		height: 100%;
	}

	.content-container .form-container .info-msg {
		padding: var(--space-6);
	}

	.content-container .form-container form {
		max-width: 250px;
	}

	.content-container .form-container form label {
		color: var(--color-blue);
	}
}
