<div
	class="inspector-main-container d-flex flex-column"
	[class.readOnly]="mode == userMode.READ"
>
	<ng-container *ngIf="model == inspectModel.BOOK">
		<div class="inspector-field form-group">
			<label>Richiedenti <i class="bi bi-people-fill"></i></label>

			<div class="d-flex flex-row gap-1">
				<select
					class="form-control"
					[disabled]="mode == userMode.READ"
				></select>

				<button class="btn btn-outline-secondary">
					<i class="bi bi-plus-lg"></i>
				</button>
			</div>

			<div></div>
		</div>

		<div class="inspector-field form-group">
			<label>Autore <i class="bi bi-person-fill"></i></label>
			<select
				class="form-control"
				[title]="data.author"
				[(ngModel)]="data.author"
				[disabled]="mode == userMode.READ"
			></select>
		</div>

		<div class="inspector-field form-group">
			<label>Titolo <i class="bi bi-justify-left"></i></label>
			<input
				type="text"
				class="form-control"
				[title]="data.title"
				[(ngModel)]="data.title"
				[disabled]="mode == userMode.READ"
			/>
		</div>

		<div class="inspector-field form-group">
			<label>Anno <i class="bi bi-hash"></i></label>
			<input
				type="number"
				class="form-control"
				[title]="data.year"
				[(ngModel)]="data.year"
				[disabled]="mode == userMode.READ"
			/>
		</div>

		<div class="inspector-field form-group">
			<label>Argomento <i class="bi bi-justify-left"></i></label>
			<textarea
				class="form-control"
				[title]="data.topic"
				[(ngModel)]="data.topic"
				[disabled]="mode == userMode.READ"
			></textarea>
		</div>

		<div class="inspector-field form-group">
			<label>Note <i class="bi bi-justify-left"></i></label>
			<textarea
				class="form-control"
				[(ngModel)]="data.notes"
				[disabled]="mode == userMode.READ"
			></textarea>
		</div>
	</ng-container>

	<ng-container *ngIf="model == inspectModel.AUTHOR"> </ng-container>
</div>
