<div
	#inspectorContainer
	class="inspector-main-container d-flex flex-column"
	[class.readOnly]="mode == userMode.READ"
>
	<div class="inspector-actions-container" (click)="closeInspector()">
		<i class="bi bi-x" title="Chiudi"></i>
	</div>

	<ng-container *ngIf="isBook(data.value)">
		<div class="inspector-field form-group">
			<label>Richiedenti <i class="bi bi-people-fill"></i></label>

			<div class="d-flex flex-row gap-1">
				<input
					type="text"
					class="form-control"
					[(ngModel)]="requestorsInputRef"
					[disabled]="mode == userMode.READ"
				/>

				<button
					class="btn btn-outline-secondary"
					(click)="insertRequestor()"
					[disabled]="mode == userMode.READ"
				>
					<i class="bi bi-plus-lg"></i>
				</button>
			</div>

			<div
				class="d-flex flex-column requestors-list"
				[class.limited]="data.value.requestor.length > 5"
				*ngIf="data.value.requestor.length > 0"
			>
				<ng-container
					*ngFor="
						let requestor of data.value.requestor;
						let index = index
					"
				>
					<div class="d-flex flex-row item">
						<span>
							<i class="bi bi-stop-fill"></i>
							{{ requestor }}</span
						>
						<i
							class="bi bi-trash3 icon-delete"
							title="Rimuovi richiedente"
							(click)="deleteRequestor(requestor)"
							*ngIf="mode != userMode.READ && userLogged"
						></i>
					</div>
				</ng-container>
			</div>
		</div>

		<div class="inspector-field form-group">
			<label>Autore <i class="bi bi-person-fill"></i></label>
			<select
				class="form-control"
				[title]="data.value.author"
				[(ngModel)]="data.value.author"
				[disabled]="mode == userMode.READ || !userLogged"
			>
				<option *ngFor="let author of authors" [value]="author._id">
					{{ author.name }} {{ author.surname }}
				</option>
			</select>
		</div>

		<div class="inspector-field form-group">
			<label>Titolo <i class="bi bi-justify-left"></i></label>
			<input
				type="text"
				class="form-control"
				[title]="data.value.title"
				[(ngModel)]="data.value.title"
				[disabled]="mode == userMode.READ || !userLogged"
			/>
		</div>

		<div class="inspector-field form-group">
			<label>Anno <i class="bi bi-hash"></i></label>
			<input
				type="number"
				class="form-control"
				[title]="data.value.year"
				[(ngModel)]="data.value.year"
				[disabled]="mode == userMode.READ || !userLogged"
			/>
		</div>

		<div class="inspector-field form-group">
			<label>Argomento <i class="bi bi-justify-left"></i></label>
			<textarea
				class="form-control"
				[title]="data.value.topic"
				[(ngModel)]="data.value.topic"
				[disabled]="mode == userMode.READ || !userLogged"
			></textarea>
		</div>

		<div class="inspector-field form-group">
			<label>Note <i class="bi bi-justify-left"></i></label>
			<textarea
				class="form-control"
				[(ngModel)]="data.value.notes"
				[disabled]="mode == userMode.READ || !userLogged"
			></textarea>
		</div>
	</ng-container>

	<ng-container *ngIf="isAuthor(data.value)">
		<div class="inspector-field form-group">
			<label>Nome</label>
			<input
				type="text"
				class="form-control"
				[title]="data.value.name"
				[(ngModel)]="data.value.name"
				[disabled]="mode == userMode.READ || !userLogged"
			/>
		</div>

		<div class="inspector-field form-group">
			<label>Cognome</label>
			<input
				type="text"
				class="form-control"
				[title]="data.value.surname"
				[(ngModel)]="data.value.surname"
				[disabled]="mode == userMode.READ || !userLogged"
			/>
		</div>
	</ng-container>
</div>
