<div class="table-main-container logs-table-main-container">
	<table class="table" sort [data]="data" (updateData)="updateData($event)">
		<thead>
			<tr>
				<ng-container *ngFor="let column of tableColumns">
					<th scope="col" [id]="column.id">{{ column.title }}</th>
				</ng-container>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let log of data">
				<td>{{ log.entity }}</td>
				<td class="target-link" (click)="goTo(log.target)">
					{{ log.target }}
				</td>
				<td
					[class.text-success]="log.operation == 'CREATE'"
					[class.text-warning]="log.operation == 'UPDATE'"
					[class.text-danger]="log.operation == 'DELETE'"
				>
					{{ log.operation }}
				</td>
				<td>{{ log.executer }}</td>
				<td>{{ log.changes }}</td>
				<td>{{ log.updatedAt }}</td>
			</tr>
		</tbody>
	</table>
</div>
