<div class="table-main-container book-table-main-container">
	<table class="table" sort [data]="data" (updateData)="updateData($event)">
		<thead>
			<tr>
				<ng-container *ngFor="let column of tableColumns">
					<th scope="col" [id]="column.id">{{ column.title }}</th>
				</ng-container>
			</tr>
		</thead>
		<tbody>
			<tr
				*ngFor="let book of data"
				(click)="select(book)"
				[class.active]="book._id == selectedBook._id"
			>
				<td>{{ book.requestor }}</td>
				<td>
					{{ book.authorInfo?.name }} {{ book.authorInfo?.surname }}
				</td>
				<td>{{ book.title }}</td>
				<td>{{ book.year }}</td>
				<td>{{ book.topic }}</td>
				<td>{{ book.place }}</td>
				<td>{{ book.notes }}</td>
			</tr>
		</tbody>
	</table>
</div>
