<div class="island-item-main-container" [class.active]="active">
	<i class="bi bi-check-circle-fill" *ngIf="active"></i>

	<div class="content">
		<ng-container *ngIf="isBook(item)">
			<div class="content-book d-flex flex-row">
				<div class="column-left d-flex flex-column">
					<div>Richiedenti</div>
					<div>{{ item.requestor.length }}</div>
				</div>

				<div class="column-right">
					<div class="main">{{ item.title }}</div>
					<div class="body">{{ item.topic }}</div>
					<div class="sub">{{ item.year }}</div>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="isAuthor(item)">
			<div>{{ item.name }} {{ item.surname }}</div>
			<div># Libri: {{ item.books?.length }}</div>
		</ng-container>
	</div>
</div>
