<div class="page-main-container tutorial-main-container d-flex flex-column">
	<div class="content-0">
		<h1 class="display-6">Come fare la ricerca</h1>
		<hr />

		<div>
            La ricerca può essere fatta:

            <ul>
                <li>inserendo le parole chiave nella barra di ricerca;</li>
                <li>
                    selezionando una colonna che può essere per:<br>
                    <strong>titolo</strong>, <strong>autore</strong>, <strong>argomento</strong>, <strong>anno</strong>, in ordine alfabetico (A-Z / Z-A)
                </li>
            </ul>
        </div>

		<div class="example-container d-flex">
			<div class="image-container">
				<img
					src="assets/images/search_d.jpg"
					alt="Search example desktop"
				/>

				<img
					src="assets/images/search_m.jpg"
					alt="Search example desktop"
					class="mobile"
				/>
			</div>
		</div>
	</div>

	<div class="content-1">
		<h1 class="display-6">Come prenotare i libri</h1>
		<hr />

		<p>
            I libri possono essere prenotati cliccando “Prenota libro” e inserendo Cognome, Nome. I libri saranno poi riservati e consegnati nella settimana dei Corsi estivi.
            <br><br>
            In caso di più richieste per opera, si vedrà di trovare un accordo o si potrà ricorrere all’estrazione a sorte.
		</p>

		<div class="image-container">
			<img
				src="assets/images/booking_d.jpg"
				alt="Booking example desktop"
			/>

			<img
				src="assets/images/booking_m.jpg"
				alt="Booking example mobile"
				class="mobile"
			/>
		</div>
	</div>

    <div class="content-2">
		<h1 class="display-6">Info</h1>
		<hr />

		<p>
            La lista doppioni è a disposizione solo dei partecipanti dei Corsi estivi.
            <br><br>
            La Biblioteca del Centro di dialettologia e di etnografia gestisce le riservazioni e le estrazioni, in caso di bisogno si può contattare la segreteria
            (<a href= "mailto:decs-cde@ti.ch">decs-cde@ti.ch</a>) o il bibliotecario (<a href= "mailto:davide.dellamonica@ti.ch">davide.dellamonica@ti.ch</a>).
		</p>
	</div>
</div>
