<div class="page-main-container tutorial-main-container">
	<div class="content-0">
		<h1 class="display-6">Ricerca di un libro</h1>
		<hr />

		<p>
			Per fare la ricerca di un libro può essere scelta una colonna della
			tabella per fare l'ordinamento, <br />oppure si può fare una ricerca
			usando uno dei seguenti metadati che possano rappresentare un libro:
		</p>

		<div class="example-container d-flex">
			<ul class="list-group">
				<li class="list-group-item">Titolo</li>
				<li class="list-group-item">Autore</li>
				<li class="list-group-item">Argomento</li>
				<li class="list-group-item">Anno</li>
			</ul>

			<div class="image-container">
				<div>
					<img
						src="assets/images/filter_d.png"
						alt="Filter example desktop"
						class="d-inline-block"
					/>
				</div>

				<div>
					<img
						src="assets/images/search_d.png"
						alt="Searc example desktop"
						class="d-inline-block"
					/>
				</div>
			</div>
		</div>
	</div>

	<div class="content-1">
		<h1 class="display-6">Prenotazione di un libro</h1>
		<hr />

		<p>
			Per prenotare un libro cliccare il bottone "Prenota libro", ed
			inserire nome e cognome
		</p>
	</div>
</div>
