.navbar {
	background-color: var(--color-blue);
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

.navbar a {
	color: var(--color-light);
}

.navbar-nav a.active {
	color: var(--color-blue-1);
}

.navbar-nav a:hover {
	color: var(--color-light-2);
}

.navbar-nav {
	margin-left: auto;
}

.navbar-toggler i {
	color: var(--color-light);
}

.logo-container {
	position: relative;
	max-width: 70vw;
	color: var(--color-light-2);
	font-family: "GillSans";
	font-size: 17px;
}

.logo-container img,
.logo-text-container,
.logo-sub-title {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 30px;
}

.logo-container img {
	filter: invert(100%) sepia(1%) saturate(342%) hue-rotate(96deg)
		brightness(117%) contrast(82%);
}

.logo-text-container,
.logo-sub-title {
	margin-left: 56px;
	line-height: 1;
	flex-direction: column;
	justify-content: center;
}

.logo-text-container {
	display: none;
}

.logo-text-container p {
	margin: 0;
}

.logo-sub-title {
	color: var(--color-light);
	margin-left: calc(56px + var(--space-6));
	padding: 0 var(--space-6);
	border-left: 1px solid var(--color-light);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.logo-text-container {
		display: flex;
	}

	.logo-sub-title {
		margin-left: 325px;
	}
}
