<div class="actions-main-container d-flex">
	<ng-container *ngIf="currentMode == userModeEnum.READ">
		<div class="d-flex gap-2 container-read">
			<div
				[formGroup]="searchFormGroup"
				class="search d-flex flex-row gap-1"
			>
				<input
					formControlName="search"
					type="text"
					placeholder="Cerca..."
				/>

				<i
					class="bi bi-x-lg"
					*ngIf="onSearch"
					(click)="restoreSearch()"
				></i>
				<i class="bi bi-search" *ngIf="!onSearch"></i>
			</div>

			<div class="action-buttons-container d-flex flex-row">
				<button
					class="btn btn-new btn-secondary"
					(click)="setMode(userModeEnum.NEW)"
				>
					Crea
				</button>

				<button
					class="btn btn-edit btn-secondary"
					(click)="setMode(userModeEnum.EDIT)"
				>
					Modifica
				</button>

				<button
					class="btn btn-export btn-secondary"
					(click)="execAction(actionEnum.EXPORT)"
				>
					Esporta
				</button>

				<div class="icon-delete">
					<i
						class="bi bi-trash3"
						title="Elimina"
						(click)="execAction(actionEnum.DELETE)"
					></i>
				</div>
			</div>
		</div>
	</ng-container>

	<ng-container
		*ngIf="
			currentMode == userModeEnum.NEW || currentMode == userModeEnum.EDIT
		"
	>
		<div class="d-flex container-edit">
			<button
				class="btn btn-save btn-secondary"
				(click)="execAction(actionEnum.SAVE)"
			>
				Salva
			</button>
			<div (click)="setMode(userModeEnum.READ)">Annulla</div>
		</div>
	</ng-container>
</div>
