<div class="actions-main-container d-flex">
	<ng-container *ngIf="currentMode == userModeEnum.READ">
		<div class="d-flex gap-2 container-read">
			<div
				[formGroup]="searchFormGroup"
				class="search d-flex flex-row gap-1"
			>
				<input
					formControlName="search"
					type="text"
					placeholder="Cerca..."
				/>

				<i
					class="bi bi-x-lg"
					*ngIf="onSearch"
					(click)="restoreSearch()"
				></i>
				<i class="bi bi-search" *ngIf="!onSearch"></i>
			</div>

			<div class="filers-container gap-1" [class.no-logged]="!userLogged">
                <div *ngIf="userLogged">
                    <div class="filters-title">Filtra per</div>
                    <select
                        class="form-select form-select-sm filter-by"
                        aria-label="Small select example"
                        [(ngModel)]="currentFilter"
                        (ngModelChange)="setFilterBy($event)"
                    >
                        <option selected [value]="filterBooksEnum.NONE">
                            -
                        </option>
                        <option [value]="filterBooksEnum.BOOKS_NO_REQUESTORS">
                            Libri senza richiedenti
                        </option>
                        <option [value]="filterBooksEnum.BOOKS_REQUESTORS">
                            Libri con richiedenti
                        </option>
                        <option [value]="filterBooksEnum.BOOKS_DISABLED">
                            Libri disabilitati
                        </option>
                    </select>
                </div>

                <div class="d-flex flex-row gap-2">
                    <div class="w-100">
                        <div class="filters-title">
                            Ordina per
                        </div>
                        <select
                            class="form-select form-select-sm filter-by"
                            aria-label="Small select example"
                            [(ngModel)]="currentOrder"
                            (ngModelChange)="setOrderBy($event)"
                        >
                            <option selected [value]="orderBooksEnum.TITLE">Titolo</option>
                            <option [value]="orderBooksEnum.AUTHOR">Autore</option>
                            <option [value]="orderBooksEnum.TOPIC">Argomento</option>
                            <option [value]="orderBooksEnum.PLACE">Luogo</option>
                        </select>
                    </div>

                    <div class="w-100">
                        <div class="filters-title">
                            Ordinamento
                        </div>
                        <select
                            class="form-select form-select-sm filter-by"
                            aria-label="Small select example"
                            [(ngModel)]="currentSortOrder"
                            (ngModelChange)="setSortOrder($event)"
                        >
                            <option selected [value]="sortOrderEnum.ASC">Ascendente</option>
                            <option [value]="sortOrderEnum.DESC">Discendente</option>
                        </select>
                    </div>
                </div>
			</div>

            <div class="d-flex flex-row gap-2">   
                <button
                    *ngIf="!userLogged"
                    class="btn btn-booking btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#bookingModal"
                >
                    Prenota libro
                </button>

                <div class="action-buttons-container" *ngIf="userLogged">
                    <button
                        class="btn btn-new btn-secondary"
                        (click)="setMode(userModeEnum.NEW)"
                    >
                        Crea
                    </button>
    
                    <button
                        class="btn btn-edit btn-secondary"
                        (click)="setMode(userModeEnum.MANAGE)"
                        *ngIf="false"
                    >
                        Gestisci
                    </button>
    
                    <button
                        class="btn btn-edit btn-secondary"
                        (click)="setMode(userModeEnum.EDIT)"
                    >
                        Modifica
                    </button>

                    <button
                        class="btn btn-import btn-secondary"
                        data-bs-toggle="modal"
                        data-bs-target="#importModal"
                    >
                        Importa
                    </button>
    
                    <button
                        class="btn btn-export btn-secondary"
                        data-bs-toggle="modal"
                        data-bs-target="#exportModal"
                    >
                        Esporta
                    </button>
                </div>

                <a class="d-flex help-button" routerLink="/tutorial">
                    <i class="bi bi-question-lg"></i>
                </a>
            </div>
		</div>
	</ng-container>

	<!-- Booking Modal -->
	<div
		class="modal fade"
		id="bookingModal"
		tabindex="-1"
		aria-labelledby="bookingModelLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="bookingModelLabel">
						Prenotazione libro
					</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<div class="book-info d-flex flex-column gap-2">
						<div class="book-field">
							<div class="field-title">Titolo</div>
							<div class="field-value">
								{{ selectedBook?.title }}
							</div>
						</div>
						<div class="book-field">
							<div class="field-title">Autore</div>
							<div class="field-value">
								{{ selectedBook?.authors }}
							</div>
						</div>
						<div class="book-field">
							<div class="field-title">Argomento</div>
							<div class="field-value">
								{{ selectedBook?.topic }}
							</div>
						</div>
						<div class="book-field">
							<div class="field-title">Anno</div>
							<div class="field-value">
								{{ selectedBook?.year }}
							</div>
						</div>
					</div>

					<hr />

					<div class="requestor-info d-flex flex-column">
						<label class="field-title"
							>Cognome, Nome del richiedente
                        </label>
						<input
							type="text"
							class="form-control"
							[(ngModel)]="possibleRequestor"
						/>
					</div>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-secondary cancel"
						data-bs-dismiss="modal"
					>
						Annulla
					</button>
					<button
						type="button"
						class="btn btn-primary booking submit"
						data-bs-dismiss="modal"
						(click)="bookBooking()"
					>
						Prenota
					</button>
				</div>
			</div>
		</div>
	</div>

    <!-- Import Modal -->
	<div
        class="modal fade"
        id="importModal"
        tabindex="-1"
        aria-labelledby="importModelLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importModelLabel">
                        Importazione file excel
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="input-group custom-file-button">
                        <label class="input-group-text" for="inputGroupFile">Clicca per importare</label>
                        <input type="file" 
                            #fileInput
                            id="inputGroupFile" 
                            class="form-control"
                            (change)="onFileSelected($event)"
                        >
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary submit"
                        data-bs-dismiss="modal"
                        (click)="uploadFile()"
                    >
                        Importa
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Export modal -->
    <div
        class="modal fade"
        id="exportModal"
        tabindex="-1"
        aria-labelledby="exportModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportModalLabel">
                        Esportazione file excel
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="filters-title">Filtra libri</div>
                    <select
                        class="form-select form-select-sm filter-by"
                        aria-label="Small select example"
                        *ngIf="userLogged"
                        [(ngModel)]="exportFilter"
                        (ngModelChange)="setFilterBy($event)"
                    >
                        <option selected [value]="filterBooksEnum.NONE">
                            Tutti
                        </option>
                        <option [value]="filterBooksEnum.BOOKS_NO_REQUESTORS">
                            Libri senza richiedenti
                        </option>
                        <option [value]="filterBooksEnum.BOOKS_REQUESTORS">
                            Libri con richiedenti
                        </option>
                        <option [value]="filterBooksEnum.BOOKS_DISABLED">
                            Libri disabilitati
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary submit"
                        data-bs-dismiss="modal"
                        (click)="execAction(actionEnum.EXPORT, exportFilter)"
                    >
                        Espora
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
