<div class="actions-main-container d-flex">
	<ng-container *ngIf="currentMode == userModeEnum.READ">
		<div class="d-flex gap-2 container-read">
			<div
				[formGroup]="searchFormGroup"
				class="search d-flex flex-row gap-1"
			>
				<input
					formControlName="search"
					type="text"
					placeholder="Cerca..."
				/>

				<i
					class="bi bi-x-lg"
					*ngIf="onSearch"
					(click)="restoreSearch()"
				></i>
				<i class="bi bi-search" *ngIf="!onSearch"></i>
			</div>

			<button
				*ngIf="!userLogged"
				class="btn btn-booking btn-secondary"
				(click)="execAction(actionEnum.EXPORT)"
			>
				Prenota
			</button>

			<div class="action-buttons-container" *ngIf="userLogged">
				<button
					class="btn btn-new btn-secondary"
					(click)="setMode(userModeEnum.NEW)"
				>
					Crea
				</button>

				<button
					class="btn btn-edit btn-secondary"
					(click)="setMode(userModeEnum.EDIT)"
				>
					Modifica
				</button>

				<button
					class="btn btn-export btn-secondary"
					(click)="execAction(actionEnum.EXPORT)"
				>
					Esporta
				</button>
			</div>
		</div>
	</ng-container>
</div>
