.actions-main-container {
	flex-direction: column;
	padding: var(--space-4);
	border-bottom: 1px solid var(--color-dark);
	background-color: var(--color-light-1-1);
}

.actions-main-container .container-read {
	flex-direction: column;
}

.actions-main-container .container-edit {
	flex-direction: row;
	justify-content: space-between;
}

.actions-main-container .action-buttons-container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 85px);
	align-items: center;
	gap: var(--space-4);
}

.actions-main-container button {
	padding: var(--space-3) var(--space-6);
	border: none;
	border-radius: 6px;
	font-size: 14px;
	box-shadow: 0px 10px 9px -7px rgba(0, 0, 0, 0.1);
}

.actions-main-container .btn-export {
	background-color: var(--color-light-2);
}

.actions-main-container .btn-new,
.actions-main-container .btn-save {
	background-color: var(--color-btn-success);
}

.actions-main-container .btn-edit {
	background-color: var(--color-btn-warning);
}

.actions-main-container .btn-export {
	background-color: var(--color-btn-info);
}

.actions-main-container .btn-booking {
	width: 120px;
	background-color: var(--color-btn-info);
	border-radius: 0px;
}

.actions-main-container .icon-delete {
	margin-left: auto;
}

.actions-main-container .search {
	justify-content: space-between;
	align-items: center;
	padding: var(--space-3) var(--space-6);
	background-color: white;
	box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}

.actions-main-container .search input {
	border: none;
	width: 100%;
	background: transparent;
}

.actions-main-container .search input:focus {
	outline: none;
}

.modal .book-field {
	gap: var(--space-6);
}

.modal .field-title {
	font-weight: bold;
	color: var(--color-dark);
}

.modal .field-value {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--color-light-2);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.actions-main-container .container-read {
		flex-direction: row;
	}

	.actions-main-container .action-buttons-container {
		justify-content: start;
	}
}
