.info-card-main-container {
	flex-direction: row;
	gap: var(--space-6);
	width: 100%;
	background-color: var(--color-light);
	padding: var(--space-4) var(--space-6);
	border-radius: 13px;
}

.info-card-main-container i {
	font-size: 22px;
}

.info-card-main-container .title {
	font-weight: bold;
}

.info-card-main-container .value {
	font-size: 22px;
	padding: var(--space-6);
	margin-left: auto;
	color: var(--color-light-2);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.info-card-main-container {
		border-radius: 0;
		box-shadow: none;
	}

	.info-card-main-container i {
		font-size: 50px;
	}
}
